.login{
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/login-background.avif");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    text-align: center;
    background-color: white;
    padding:0px 25px 15px 25px;
    border-radius: 10px;
}

h1{
    font-size: 35px;
    margin-bottom: 25px;

}
label{
    width: 110px;
    margin-bottom: 35px;
    font-size: 16px;
}
input{
    width: 250px;
    height: 40px;
    padding:10px 10px;
}
button{
    font-size: 20px;
}